
.btn-collect{
    color: #fff;
    background-color: 	#4682B4;
    border-color: 	#4682B4;
}

.btn-analyze{
    color: #fff;
    background-color: 	#228B22;
    border-color: 	#228B22;
}

.btn-user{
    color: #fff;
    background-color: #87CEFA;
    border-color: #87CEFA;
}

.btn-health-agent{
    color: #fff;
    background-color:  #00BFFF;
    border-color:  #00BFFF;
}

.btn-expert{
    color: #fff;
    background-color:  #1E90FF;
    border-color:  #1E90FF;
}

.homeFont{
    font-size: 1.2em;
    font-weight: 300 !important;
}

.hr-user{
    width: 85%;
    border: 2px solid gray;
    border-radius: "5px";
}
